.Home .lander {
    padding: 80px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 200px;
    font-weight: 400;
}

.Home .lander p {
    color: #999;
    font-size: 50px;
}