@media all and (min-width: 480px) {
    .Login {
        /*<div style="display:flex;justify-content:center;align-items:center;">*/
        margin: 0 auto;
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .Alert {
        text-align: center;
    }
}