body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notif-transition-enter {
  opacity    : 0.01;
  transition : opacity .5s ease-in;
}

.notif-transition-enter-active {
  opacity : 1;
}

.notif-transition-leave {
  opacity    : 1;
  transition : opacity .5s ease-in;
}

.notif-transition-leave-active {
  opacity : 0.01;
}

.notif {
  position      : relative;
  font          : 1.5rem normal Lucida Console, sans-serif;
  font-weight: bold;
  text-align: center;
  overflow      : hidden;
  border-radius : 4px;
  margin-bottom : 2px;
  max-height    : 400px;
  box-sizing    : border-box;
  box-shadow    : 0 0 1px 1px rgba(10, 10, 11, .125);
  padding       : 0.5rem;
  color         : #fff;
}

.notif--success {
  background-color: #64ce83;
}

.notif--info {
  background-color: #3ea2ff;
}

.notif--warning {
  background-color: #ff7f48;
}

.notif--danger {
  background-color: #980504;
}

.notif__container {
  position  : center;
  padding-top: 10px;
  /*top       : 100px;*/
  right     : 0;
  left      : 0;
  z-index   : 1000;
  width     : 80%;
  max-width : 300px;
  margin    : auto;
}
